.navbar {
    background-color: #cbb8b8;
}

.navbar-brand {
    padding-left:20px;
}

.navbar-brand img {
    height:75px;
}

#mapid {
  height: 600px;
}

body {
  display: grid;
  grid-template-rows: 15% 25% 60%;
  max-height: 100vh;
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding:20px;
}

.inputs {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px;
}

.input {
  display: flex;
  flex-direction: column;
}

.input > input {
  height: 40px;
}

button {
  align-self: center;
  width: 100px;
  height: 50px;
  margin-top: 1em;
}
