.navbar {
    background-color: #cbb8b8;
}

.navbar-brand {
    padding-left:20px;
}

.navbar-brand img {
    height:50px;
}

#mapid {
  height: 600px;
}

body {
  display: grid;
  grid-template-rows: 10% 25% 65%;
  max-height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #cbb8b8;
  border-color: #652a2a;
  border-style: solid;
  border-radius: 5px;
  width: 60%;
  height: 80%;
  color: #ffffff;
}

.inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.input {
  display: flex;
  flex-direction: column;
}

.input > input {
  height: 40px;
}

button {
  align-self: center;
  width: 100px;
  height: 50px;
  margin-top: 1em;
}

#mapid {
  margin: 5%;
}