@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.loader-container {
    position: absolute;
    z-index: 100000000;
    width: 100vw;
    height: 100vh;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    width: 300px;
    height: 320px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 12px solid #dc3545;
}
.swal-modal{
 z-index: 1000000000000000;
}

.toggle-container {
    position: absolute;
    top: 3em;
    right: 1em;
    z-index: 10000;
}
.tutorial{
    position: absolute;
    top: 3em;
    left: 1em;
    z-index: 10000;
    font-size: 1.7em;
    color: #b4b2b2;
}
#tutorial{
    cursor: pointer;
}

.container {
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    max-height: 100vh;
    position: relative;
}

.logo {
    padding-top: 1em;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.logo > img {
    width: 300px;
}

.inputs {
    margin: 0 auto;
    padding: 1em 0;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.input-group {
    width: 200px;
    margin: .5em auto;
    display: flex;
    flex-direction: column;
}

.input-group > input, .input-group > select {
    border: 2px solid #541313;
    border-radius: 6px;
    height: 2em;
}

.input-group > label {
    margin-bottom: .3em;
}

.input-group > input:focus, .input-group > select:focus {
    outline: none !important;
    border-color: #dc3545;
}

.btns {
    border: 2px solid #541313;
    border-radius: 6px;
    height: 3em;
    color: white;
    font-size: 1.2em;
    background-color: #dc3545;
}
.submit{
    background-color: #28a745;
    transition: all .2s ease-in-out;
}


#map-wrapper {
    height: 500px;
    width: 80%;
    margin: 0 auto;
    border: 3px solid #cbb8b8;
    position: relative;
}

#mapid {
    height: 100%;
    width: 100%;
    position: absolute;
}

#clear {
    cursor: pointer;
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #dc3545;
    border: 2px solid #930a0a;
    border-radius: 10px;
    color: white;
    font-size: 1.4em;
    z-index: 10000
}

#msg {
    position: absolute;
    bottom: 1em;
    left: 1em;
}

#msg > i {
    color: #dc3545;
}