<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
      integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
      crossorigin=""
    />
    <script
      src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
      integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
      crossorigin=""
    ></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script
      src="https://kit.fontawesome.com/248332ce05.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link
      href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap-switch-button@1.1.0/css/bootstrap-switch-button.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    <link rel="icon" href="{{ url_for('static',filename='/img/Logo.ico') }}" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
  
            
    <title>Tremor</title>
  </head>
  <body>

    <div id="modalPunto" class="modal">
      <div class="modal-content">
        <div>
          <label for="date-punto">Fecha y Hora</label>
          <input class="date" type="datetime-local" id="date-punto" />
        </div>
        <div>
          <label for="magnitude-punto">Magnitud (Escala Richter)</label>
          <select id="magnitude-punto">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
        </div>
        <div>
          <label for="depth-punto" value="25">Profundidad (Km)</label>
          <select id="depth-punto" value="25">
            <option value="15">15</option>
            <option value="20">20</option>
            <option value="25">25</option>
            <option value="30">30</option>
            <option value="35">35</option>
            <option value="40">40</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#!" id="submitPunto" class="modal-close waves-effect waves-green btn-flat">Agree</a>
      </div>
    </div>

    <div id="modalNube" class="modal">
      <div class="modal-content">
        <div>
          <label for="date-nube">Fecha y Hora</label>
          <input class="date" type="datetime-local" id="date-nube" />
        </div>
        <div>
          <label for="magnitude-nube">Magnitud (Escala Richter)</label>
          <select id="magnitude-nube">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
        </div>
        <div>
          <label for="depth-nube" value="25">Profundidad (Km)</label>
          <select id="depth-nube" value="25">
            <option value="15">15</option>
            <option value="20">20</option>
            <option value="25">25</option>
            <option value="30">30</option>
            <option value="35">35</option>
            <option value="40">40</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#!" id="submitNube" class="modal-close waves-effect waves-green btn-flat">Agree</a>
      </div>
    </div>

    <div id="loader-container" class="loader-container">
      <div class="loader">
        <lottie-player
          src="{{ url_for('static',filename='animations/loading.json') }}"
          background="transparent"
          speed="1"
          style="width: 300px; height: 300px"
          loop
          autoplay
        ></lottie-player>
      </div>
    </div>
    <div class="tutorial">
      <i id="tutorial" class="fas fa-question-circle"></i>
    </div>
    <div>
      <div class="logo">
        <img
          alt="Mapa de El Salvador con una señal que marca la magnitud de un sismo"
          src="{{ url_for('static',filename='img/Logo+Nombre.png') }}"
        />
      </div>
        <div>
          <div class="fixed-action-btn toolbar">
            <a class="btn-floating btn-large">
              <i class="material-icons"  style="font-size:45px;" >explore</i>
            </a>
            <ul>
             
              <li><a data-target="modalPunto" class="btn-floating tooltipped modal-trigger"  data-position="top" data-tooltip="Obtener posible epicentro"><i class="material-icons" style="font-size:35px;">add_location</i></a></li>
              <li><a data-target="modalNube" class="btn-floating tooltipped modal-trigger" data-position="top" data-tooltip="Obtener nube de puntos"><i class="material-icons" style="font-size:35px;">grain</i></a></li>
              <li><a id="heat" class="btn-floating tooltipped" data-position="top" data-tooltip="Mapa de calor"><i class="material-icons" style="font-size:35px;" >whatshot</i></a></li>
            </ul>
          </div>
        </div>
      <div class="map-wrapper">
        <div id="mapid"></div>
        <button id="clear"><i class="fas fa-broom"></i></button>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap-switch-button@1.1.0/dist/bootstrap-switch-button.min.js"></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/leaflet-heat.js') }}"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/main.js') }}"
    ></script>
  </body>
</html>
